* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	text-align: center;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

:root {
	height: 100%;
	
/* Z INDEX */

	/* HOME */
	--logo: 1;
	--shadehide: -2;
	--shadeshow: 1;
	--aboveshadow: 2;
	--aboveicons: 1;
	--abovebackground: 1;

	/* CONTACT */
	

}

/* INCLUDES IN ALL PAGES  */

	.flexcenter {
		display: flex;
		justify-content: center;
	}

	/* typography
		================== */

	.title {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	.title span{
		font-weight: 300;
		display: block;
		font-size: .9em;
	}

	.button {
		display: inline-block;
		font-size: 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		border-width: 2px;
		border-style: solid;
		padding: .5em 1.75em;
	}

	.button-accent {
		color: white;
		border-color :white;
	}

	.button-accent:hover,
	.button-accent:focus {
		background: white;
		color: rgb(35, 35, 48);
	}

	.droptitle {
		font-weight: 400;
		font-size: 12px;
		letter-spacing: 1px;
	}

	p {
		font-weight: 100;
		font-size: 12px;
		transform: scaleY(0.8);
	}

	.text h3{
		text-transform: uppercase;
		font-weight: 100;
		font-size: 22px;
		letter-spacing: 1px;;
		
	}
	.contacttitle {
		font-size: 2em;
		font-weight: 300;
		color: white;
		word-spacing: 20px;
		letter-spacing: 10px;
		text-transform: uppercase;
	}

	.buttonfont {
		font-weight: 100;
		color: rgb(218, 210, 210);
		text-decoration: none;
		text-transform: uppercase;
		background-color: black;
		word-spacing: 3px;
	}
	/* Header 
	================== */

	nav {
		background-color: rgba(0,0,0,0.3);
		display: flex;
		flex-direction: column;
		min-height: 8vh;
		position: fixed;
		width: 100%;
		align-items: center;
		z-index: var(--abovebackground);
	}

	.logo {
		list-style: none;
		z-index: var(--aboveicons);
	}

	.logo a{
		background-image: url('images/Frontier-logo\.png');
		background-size: 350px;
		background-position: center;
		background-repeat: no-repeat;
		text-indent: -9999999900px;
		display: flex; 
		width: 350px;
		height: 70px;
		margin-top: 10px;
	}

	.sidebar {
		margin-bottom: 15px;;
		flex-direction: row;
		width: 100%;
	}

	.sidebar li {
		list-style: none;
	}

	.sidebar a { 
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .8rem;
		padding: 2em;
		color: white;
	}

	.burger {
		display: none;
		margin: auto 15px;
		cursor: pointer;
	}

	.burger div {
		background-color: white;
		opacity: 0.8;
		width: 1.5rem;
		height: 0.1rem;
		margin: 0.4rem 0;
		transition: all 0.3s ease;
		
	}
	nav a:hover,
	nav a:focus {
		color: #DDD;
	} 

	.icons {
		width: 100%;
		position: absolute;
		transform: translate(0, 20px);
		right: 10px;
		display: flex;
		justify-content: flex-end;
		font-size: 15px;
	}

	.icons li {
		list-style: none;
		padding: 10px 15px;
	}

	/* Footer
	================== */

	footer {
		overflow-y: hidden;
		display: flex;
		margin-top: auto;
		width: 100%;
		height: 3rem;
		padding: 0;
		bottom: 0;
		background-color: black; 
		list-style: none;
		justify-content: flex-end;
	}

	footer li {
		margin-top: 15px;
	}

	.socialmedialinks {
		color: rgb(255, 255, 255);
	}

	.socialmedialinks a {
		padding: 0.5rem;
	}

	footer li h3{
		color: rgb(255, 255, 255);
		font-weight: 100;
		font-size: 1em;
		margin-right: 5px;
		border-right: solid thin;
		padding-right: 10px;
	}

	.logo-small a {
		background-image: url('images/Frontier-logo.png');
		background-size: 260px;
		background-position: 50% 58%;
		background-repeat: no-repeat;
		text-indent: -9999999999px;
		height: 50px;
		width: 250px;
		display: flex;
	}


/* HOME PAGE */

	/* Home-hero 
	================== */

	.home-hero {
		background-size: cover;
		background-position: center;
		background-color: rgb(27, 25, 34);
		background-image:
		url(images/Jewelry.jpg);
		height: 100vh;
		padding-top: 35vh;
		background-blend-mode: lighten;
	}

	.container {
		width: 95%;
		margin: 0 auto;
	}

	.notsticky {
		position: absolute;
	}

/* CONTACT PAGE */

	/* Contact-hero
	================== */

	.contact-hero {
		text-align: center;
		background-color: black;
		width: 100%;
		height: 105vh;
	}

	.contactbackground {
		background-image: url(images/street.jpeg);
		background-color: #00ff6c;
		background-position: center;
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		height: 60vh;
		width: 100%;
		background-blend-mode: darken;
	}

	.contactcontainer {
		position: absolute;
		width: 100%;
		height: 40vh;
		top: 225px;
	}

	
	.content {
		background: rgb(51, 116, 160);
		position: absolute;
		flex-direction: column;
		align-items: center;
		width: 100%;
		top: 60vh;
		height: 45vh;
	}

	.centercontent {
		transform: translate(50%, 10vh) translateX(-32.5%);
	}

	.contactInfo {
		cursor: pointer;
		text-align: left;
		width: 65%;
		margin-bottom: 20px;
	}
	.text {
		display: flex;
		justify-content: space-between;
	}
	.box {
		height: 40px;
		width: 100%;
	}
	
	.contactbutton {
		margin-top: 15px;
		padding: 8px;
	}

	.box:hover {
		border-bottom: thin solid black;
	}

	.box-active{
		border-bottom: thin solid black;
	}

	.contactbutton:hover {
		opacity: 0.95;
	}
	
	/* CONTACT DROPDOWN EFFECT */

	.contactdropdown {
		/* background-color: #00ff6c; */
		background-color: rgb(51, 116, 160);
		height: 120px;
		margin-top: 15px;
		border-bottom: thin solid black;
		display: none;
	}

	.contactdropdown-active {
		display: block;
	}



/* iPad/iPad pro */
@media only screen and (min-width: 200px) and (max-width: 855px)  {
	
	/* typography
	================== */

	.title{
		font-size: 2.5rem;
		margin-bottom: 1.15em;
	}
	
	.button {
		font-size: 1.15rem;
	}

	/* Header (sidebar)
	=================== */

	body {
		overflow-x: hidden;
	}

	nav {
		
		flex-direction: row-reverse;
		align-items: flex-start;
	}
	
	.icons{
		font-size: 20px;
		top: -2px;

	}

	.icons > li:first-child {
		position: absolute;
		left: 60px;
	}

	/* sidebar 
	=================== */

	.sidebar {
		justify-content: start;
		background-color:  black;
		display: flex;
		flex-direction: column;
		left: 0;
		position: absolute;
		height: 100vh;
		width: 30%;
		transform: translateX(-100%);
		z-index: var(--aboveshadow);
	}

	.sidebar li {
		text-align: left;
		margin-top: 20px;
	}

	.sidebar li:first-child {
		margin-top: 70px;
	}

	.sidebar-active {
		transform: translateX(0%);
	}

	.toggle .line1{
		transform: rotate(-45deg) translate(-5px, 6px) ;
		
	}

	.toggle .line2{
		opacity: 0;
	}

	.toggle .line3{
		transform: rotate(45deg) translate(-5px, -6px) ;
		
	}

	.burger {
		z-index: var(--aboveshadow);
		margin-top: 23px;
		margin-left: 20px;
		display: block;
	}

	.shade {
		position: absolute;
		background-color: black;
		opacity: 0;
		margin-left: auto;
		margin-right: 0;
		width: 100%;
		height: 100vh;
		z-index: var(--shadehide);
		pointer-events: none;
	}

	.shade-show {
		opacity: 0.5;
		z-index: var(--shadeshow);
		pointer-events: auto;
	}

	/* Logo
	================== */

	.logo {
		margin: 0 auto;
	}

	.logo a {
		display: relative;
		background-position: center;
		background-size: 350px;
		width: 300px;
		height: 60px;
		margin-left: -44px;
		
	}

	/* Footer 
	================== */

	footer {
		justify-content: center;
	}

	footer li{
		margin: auto 0;
	}
	
	.logo-small a {
		background-position: 50% 48%;
	}

}

/* mobile/cellphone widths */
@media only screen and (min-width: 200px) and (max-width: 500px)  {
	
	/* typography
	================== */

	.title {
		font-size: 2.3rem;
		margin-bottom: 4rem;
	}
	
	.title span{
		font-weight: 300;
		display: block;
		font-size: .9em;
	}

	/* Header 
	=================== */
	
	.logo a {
		background-size: 250px;
	}

	.icons {
		font-size: 15px;
		right: 5px;
		top: 1px;
	}
	.icons > li:nth-child(2) {
		padding-right: 10px;
	}
	.icons > li:first-child {
		position: absolute;
		left: 50px;
	}
	
	/* Home-hero 
	================== */

	.home-hero {
		height: 50vh;
		padding-top: 15vh;
		background-position: center;
	}

	/* Home-about
	================== */

	.home-about {
		height: 50vh;
		background-color: black;
	}

	/* Sidebar
	================== */

	.sidebar{
		width: 80%;
	}

	/* Footer 
	================== */

	footer {
		flex-direction: column;
		justify-content: space-evenly;
		height: 12rem;
		position: relative;
	}
	
	.notsticky {
		position: relative;
	}
	
	.logo-small {
		top: 20px;
		margin: 0px auto;
	}

	.socialmedialinks{
		color: rgb(255, 255, 255);
		align-items: center;
		margin-right: 10px;
	}
	footer li h3 {
		font-weight: 100;
		font-size: 1em;
		border: none;
	}

	/* CONTACT PAGE */

	.contactcontainer {
		top: 150px;
	}
}


