body{
	background: rgb(41, 138, 177);
	color: white;
	margin: 0;
	padding: 0
}
header {
	background: black;
	background-image: url("images/the-scene.jpeg");
	background-size: 100%;
	background-position: center;
	padding: 20px;
	height: 400px;
	text-align: center;
	
}
header a{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	
}

header .logo a{
	background-image: url("images/WW.png");
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	position: relative;
	left: -20px;
	text-indent: -999999999px;
	width: 100px;
}
header a:hover{
	color: yellow;
}

section{
	background: black;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: row;
}
div{
	background: red;
	margin: auto;
	width: 100px;
}
ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
li {
	display: inline-block;
}
footer{
	background: black;
	padding: 20px;
	text-align: center;
	margin: 0;
	font-size: 12px;
}
/* Features */
.features{
	display: flex;
	flex-direction: row;
	padding: 20px;
}
.features figure{
	margin: auto;
	width: 200px;
	text-align: center;
}
.features figure img{
	width: 200px;
	border-radius: 50%;
	box-shadow: white 0px 0px 10px;
	border: 1px solid Black;
}
